.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 92px;
    fill: #AFB1B8;

    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: fill var(--anim-slov),
        border var(--anim-slov);

        @include mq(tab) {
                width: 226px;
            }
        
            @include mq(desk) {
                width: 170px;
            }

    &:hover {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        }
}

