.works {
    @include mq(mob) {
        display: none;
    }

    @include mq(desk) {
        display: flex;
        padding-top: 0;
        }    
}

.works__list {
    @include mq(desk) {
    display: flex;
    gap: 30px;
    }
}

.works__list-item {
    @include mq(desk) {
    position: relative;
    overflow: hidden;
    width: 370px;
    }
}

.works__list-label {
    @include mq(desk) {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;


    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    }
}